{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container">
  <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">Welcome to the Lead Generation and Tracking App</h1>

        </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{% static "images/dc_leads_logo.png" %}" alt="Your Image Description" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2>Main Menu</h2>
        <ul class="list-unstyled">
   <li><a href="{% url 'lead_list' %}" class="btn btn-primary">View All Leads</a></li>
    <li class="mt-2"><a href="{% url 'lead_create' %}" class="btn btn-success">Create a New Lead</a></li>
    <li class="mt-2"><a href="{% url 'interaction_create' %}" class="btn btn-info">Create a New Interaction</a></li>
<li class="mt-2"><a href="{% url 'interaction_list' %}" class="btn btn-info">View All Interactions</a></li>
    <li class="mt-2"><a href="{% url 'search_and_add_leads' %}" class="btn btn-warning">Search for a Lead</a></li>
    <li class="mt-2"><a href="{% url 'interactiontemplate_list' %}" class="btn btn-warning">List Interaction Template</a></li>
          <!-- Add more menu items as needed -->
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

