{% extends 'base.html' %}

{% block content %}
  <h2>Interaction Template List</h2>
    <p><a href="{% url 'interactiontemplate_create' %}" class="btn btn-primary">Create new interaction template</a></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>

      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.contents|truncatewords:50 }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}